<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- css -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <title>Vue Game Char</title>
  <!-- <script src='../db/lib/sql-browser.min.js'></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.3.0/rxjs.umd.min.js" integrity="sha512-y3JTS47nnpKORJX8Jn1Rlm+QgRIIZHtu3hWxal0e81avPrqUH48yk+aCi+gprT0RMAcpYa0WCkapxe+bpBHD6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="./style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./old-style.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/landing-screen.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/game-screen.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/battle-view.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/game-list.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/top-bar.css" type="text/css" media="all" />

  <!-- libraries -->
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/plugin/weekOfYear.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/plugin/weekday.js"></script>
  <script>
    dayjs.extend(window.dayjs_plugin_weekOfYear)
    dayjs.extend(window.dayjs_plugin_weekday)
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
  <script src="./vue/vuex2.0.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.2.1/vue-router.js'></script>
</head>

<body>

  <main class="app" id="app">
    <app-shell></app-shell>

  </main>

  <script src="app.js" type="module"></script>

  <!-- *** SHELL *** -->

  <template id="app-shell-template">
    <main id="app-shell">
      <top-bar :title="screenTitle"></top-bar>
      <router-view></router-view>
      <bottom-bar></bottom-bar>
    </main>
  </template>

  <template id="top-bar-template">
    <header id="top-bar">
      <div id="top-bar-left">L</div>
      <div id="top-bar-center">{{title}}</div>
      <div id="top-bar-right">R</div>
    </header>
  </template>

  <template id="bottom-bar-template">
    <footer id="bottom-bar">
      <div class="button-container">
        <button @click="routeToHome()" class="screen-button">Home</button>
        <button @click="routeToCharacterScreen()" class="screen-button">Character</button>
        <button @click="routeToGameScreen()" class="screen-button">Game</button>
      </div>
    </footer>
  </template>

  <!-- *** LANDING *** -->

  <template id="landing-screen-template">
    <div id="landing-screen">
      <div id="landing-body">
        <section id="create-game-form-container">
          <form @submit.prevent="handleSubmit" id="create-game-form">
            <label for="create-game-name-input">Create Game</label>
            <div class="control-group">
              <input v-model="newCharacterName" type="text" name="create-game-name-input" id="create-game-name-input" value="" placeholder="Character Name..." />
              <input type="submit" name="create-game-submit" id="create-game-submit" value="+" />
            </div>
          </form>
        </section>
        <section id="existing-games-container">
          <game-list></game-list>
        </section>
      </div>
    </div>
  </template>

  <template id="game-list-template">
    <div id="game-list">
      <div id="existing-games-title">{{title}}</div>
      <div class="container game-list">
        <game-list-item @gameitem:longpress="handleGameLongPress($event)" @game:selected="handleGameSelected($event)" :key="game.gameId" v-for="game in games" :game="game"></game-list-item>
      </div>
    </div>
  </template>

  <template id="game-list-item-template">
    <div ref="gameListItem" class="game-list-item" @click="handleClick($event)">
      <div class="control-group">
        <div class="label">Character</div>
        <div class="character-name">{{ game.character.name }}</div>
      </div>
      <div class="control-group">
        <div class="label">HP</div>
        <div class="character-name">{{ game.character.stats.health }}</div>
      </div>
      <div class="control-group">
        <div class="label">Gold</div>
        <div class="character-name">{{ game.character.gold }}</div>
      </div>
      <div class="control-group">
        <div class="label">Last Played</div>
        <div class="play-time">{{ new Date(game.lastPlayed).toLocaleDateString() }}</div>
      </div>
    </div>
  </template>

  <!-- *** GAME SCREEN *** -->

  <template id="game-screen-template">
    <div id="game-screen">
      <shop-view></shop-view>
      <!-- <battle-view></battle-view> -->
    </div>
  </template>

  <template id="shop-view-template">
    <div id="shop-view">
      <div class="shop-view-slot" data-shop-type="gear">SHOP</div>
    </div>
  </template>

  <template id="battle-view-template">
    <div id="battle-view">
      <div class="battle-view-slot" data-combatant="enemy">Enemy</div>
      <div class="battle-view-slot" data-combatant="player">Player
      </div>
    </div>
  </template>

  <template id="world-view-template">
    <div id="world-view">
      <div class="world-view-layer background"></div>
      <div class="world-view-layer foreground">
        <div id="pawn1">

        </div>
      </div>
    </div>
  </template>


  <template id="character-screen-template">
    <div id="character-screen">
      <character-detail></character-detail>
      <character-equipment></character-equipment>
      <character-inventory></character-inventory>
    </div>
  </template>

  <template id="character-detail-template">
    <div id="character-detail">
      <editable-property @editable-property-change="handlePropChange($event)" id="character-name" :value="name" label="Name"></editable-property>
      <div id="character-gold">
        <div class="label">Gold</div>
        <div class="value">{{gold}}</div>
      </div>
      <div id="character-stats">
        <div id="character-health">
          <div class="label">HP</div>
          <div class="value">{{health}}</div>
        </div>
        <div id="character-damage">
          <div class="label">DMG</div>
          <div class="value">{{damage}}</div>
        </div>
        <div id="character-armor">
          <div class="label">ARMOR</div>
          <div class="value">{{defense}}</div>
        </div>
      </div>
    </div>
  </template>

  <template id="character-stat-template">
    <div id="character-stat">
      <div class="label">{{label}}</div>
      <div class="value">{{value}}</div>
    </div>
  </template>

  <template id="character-equipment-template">
    <div id="character-equipment">
      <div class="container">
        <item-slot @itemslot:click="handleSlotClick($event)" key="slot.id" v-for="slot in equipmentSlots" :slot="slot"></item-slot>
      </div>
      <!-- <selected-item></selected-item> -->
    </div>
  </template>

  <template id="character-inventory-template">
    <div id="character-inventory">

      <div id="character-inventory-slots" class="container">
        <item-slot @itemslot:click="handleSlotClick($event)" key="slot.id" v-for="slot in inventorySlots" :slot="slot"></item-slot>
      </div>
      <!-- <div id="selected-item"></div> -->
      <selected-item></selected-item>
    </div>
  </template>

  <template id="inventory-item-template">
    <div class="inventory-item" :data-item-type="item.itemType">
      {{name}}
      <!-- <div data-block-type="green" class="block" id="b1">
      </div> -->
    </div>
  </template>

  <template id="item-slot-template">
    <div @click.capture.stop="handleClick" class="item-slot">
      <div _data-block-type="green" class="slot" :data-slot-type="slot.itemType">
        <div _data-block-type="green" class="label">{{slot.label}}</div>
        <inventory-item v-if="hasItem" :item="currentItem" data-block-type="green" class="block" id="b1">
        </inventory-item>
      </div>
    </div>
  </template>

  <template id="selected-item-template">
    <div class="selected-item">
      <div class="selected-item-slot">
        <inventory-item v-if="selectedItem" :item="selectedItem"></inventory-item>
      </div>
      <div class="selected-item-area">
        <!-- <inventory-item v-if="selectedItem" :item="selectedItem"></inventory-item> -->
      </div>
      <!-- <h2>{{_currentShow}}</h2> -->
      <!-- <div v-for="question in _currentShow">{{question.category}}</div> -->
    </div>
  </template>


  <template id="editable-property-template">
    <div class="editable-property" @click="handleClick($event)">
      <div class="editable-property-label">{{label}}</div>
      <div class="control-group">
        <input :disabled="!editable" class="editable-property-input" type="text" v-model="prop" />
        <button v-if="editable" class="editable-property-confirm">OK</button>
      </div>
    </div>
  </template>

</body>

</html>