#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 8px; */
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  overflow: hidden;
  user-select: none;
  background: #1C202B;
}

#app-shell {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  /* gap: 8px; */
  width: 100%;
  height: 100%;
}

#bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  padding: 4px;
}

#bottom-bar>.button-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 100%;
}

#bottom-bar button {
  padding: 8px;
}

.editable-property {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
  /* height: 100%; */
}

.editable-property-label {
  padding: 0px 4px;
  font-size: 18px;
  font-weight: 500;
  font-size: 18px;
  font-weight: 700;


}

.editable-property .control-group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
}

.editable-property-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 100%;
  padding: 4px 4px;
  font-size: 16px;
  font-weight: 500;
  /* color: #000000; */
}

.editable-property-input:disabled {
  background: none;
  border: 1px solid transparent;
  color: #E8E8E8;

}

.editable-property-confirm {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 4px;
  border: 1px solid transparent;
}

#character-screen {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  width: 100%;
  color: #E8E8E8;
  /* height: 100%; */
}


#character-detail {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  width: 100%;
  height: 100%;
  padding: 8px 8px;
  /* background: #C8C8C8; */
  border-bottom: 1px solid white;
}

#character-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
  height: 100%;
}

#character-stats .label {
  font-weight: 700;
}

#character-gold {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  /* font-weight: 700; */
}
#character-gold div:nth-child(1){
  font-weight: 700;
}

#character-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  /* width: 100%; */
  /* height: 100%; */
  font-size: 20px;
  padding: 0px 4px;
  font-weight: 700;
  white-space: nowrap;
}

#character-stats div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: fit-content;
  white-space: nowrap;
}


#character-equipment {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr;
  gap: 8px;
  width: 100%;
  height: 100%;
  /* background: #C8C8C8; */
  padding: 14px 8px;
}


#character-inventory {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr;
  gap: 8px;
  height: 100%;
  width: 100%;
  /* background: #C8C8C8; */
  padding: 14px 8px;
  overflow-y: scroll;
}


.selected-item {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
  justify-content: center;
  width: 100%;
  background: #3F40503D;
}

.selected-item-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
}

.selected-item .inventory-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 64px;
  height: 64px;
  background: #FFD81F;
  transform: scale(0.7);
  font-size: 12px;
  overflow: hidden;
}

.selected-item .inventory-item .label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background: #FFD81F;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, minmax(64px, 1fr));
  grid-template-columns: repeat(3, minmax(64px, 1fr));
  height: 100%;
  width: 100%;
  /* background: #C8C8C8; */
}

.slot {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2px 4px;
  background: #F6F6F6;
  border: 3px solid #232324;
}

.slot .label {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 6px;
  text-align: center;
}

.inventory-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 100%;
  border: 3px solid #232324;
  text-align: center;
  overflow: hidden;
}

.inventory-item {
  background: #FFFFFF;
  color: #F8F8F8;
  font-weight: 600;
}

.inventory-item[data-item-type*=armor] {
  background: #B43215;
  backdrop-filter: blur(4px);
}

.slot[data-slot-type*=armor] {
  background: #B4321550;
}

.inventory-item[data-item-type*=gear] {
  background: #9615B4;
  backdrop-filter: blur(4px);
}

.slot[data-slot-type*=gear] {
  background: #9615B450;
}


.inventory-item[data-item-type*=weapon] {
  background: #157AB4;
  backdrop-filter: blur(4px);
}

.slot[data-slot-type*=weapon] {
  background: #157AB450;
}

.inventory-item[data-item-type*=shield] {
  background: #B49815;
  backdrop-filter: blur(5px);
}

.slot[data-slot-type*=shield] {
  background: #B4981550;
}